<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=egde">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/index.css"></head>
<body>
	<a href="#"><img src="../img/download-timyo.png" class="fiximg"></a>
	<div class="bd">
		<header id="main-head">
			<nav class="navbar navbar-default">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="../img/logo.png"></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right nav-user">
							<li>
								<a href="#">Mission</a>
							</li>

							<li>
								<a href="#">FAQ</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/FR-icon.png" alt="法国"></a>
							</li>
							<li>
								<a href="#">
									<img src="../img/ENG-icon.png" alt="英国"></a>
							</li>

						</ul>
					</div>
					<!-- /.navbar-collapse -->

				</div>

			</nav>
			<!-- /.container-fluid -->
		</header>
		<!-- 手机轮播图 -->
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-center col-sm-12 col-xs-7">
					<br>
					<br>
					<div class="item-inner">It's about time</div>
					<h2 class="user-h2">email that matters,</h2>
					<h2 class="user-h2">when it matters.</h2>
					<br>
					<br>
					<a class="user-a" href="#">
						Watch the video <i class="glyphicon glyphicon-play-circle"></i>
					</a>
				</div>
				<div class="col-md-5 col-sm-12 col-xs-5">
					<div id="carousel-example-generic" class="carousel slide right" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							<li data-target="#carousel-example-generic" data-slide-to="3"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner " role="listbox">
							<div class="item active text-right">
								<img src="../img/slide-1.png" alt="..."></div>
							<div class="item text-right">
								<img src="../img/slide-2.png" alt="..."></div>
							<div class="item text-right">
								<img src="../img/slide-3.png" alt="..."></div>
							<div class="item text-right">
								<img src="../img/slide-4.png" alt="..."></div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="container text-center" id="content">
		<h2>Available now for ios</h2>
		<p>
			Currently available for Gmail and Google Apps - more providers coming soon.
		</p>
		<br>
		<br>
		<a href="#">
			<img src="../img/download-timyo.png" style="width: 203px;height: 60px;"></a>
		<div class="user-form">
			<div class="form-group">
				<input type="text" name="" value="" placeholder="(021)555-5555">
				<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				<span class="flags"></span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a href="#"><span></span> United States <span>+1</span></a>
				</li>
				<li>
					<a href="#"><span></span> United States <span>+1</span></a>
				</li>
				<li>
					<a href="#"><span></span> United States <span>+1</span></a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#"><span></span> United States <span>+1</span></a>
				</li>
				<li>
					<a href="#"><span></span> United States <span>+1</span></a>
				</li>
				<li>
					<a href="#"><span></span> United States <span>+1</span></a>
				</li>
				<li>
					<a href="#"><span></span> United States <span>+1</span></a>
				</li>
				<li>
					<a href="#"><span></span> United States <span>+1</span></a>
				</li>
			</ul>
		</div>
		<a href="#" class="btn btn-default">Text me a link</a>
			</div>
		</div>
		<br>
		<br>
		<p>
			If you are on Android or Windows Phone, we are working on versions for you!
			<br>Enter your email and choose your OS below to be notified.</p>
		<form action="#" method="get" accept-charset="utf-8" style="margin:18px 0;" id="Main-form1">
			<input type="text" name="" value="" placeholder="Your email address" class="input-lg"></form>
		<p>Choose your OS to submit.</p>
		<form action="#" method="get" class="os">
			<input type="submit" name="" value="" class="android">
			<input type="submit" name="" value="" class="windows"></form>
	</div>
	<div id="content-sec">
	<div class="container">
		<h3 class="text-center">
			Wait!
			<br>
			You don’t need to answer every email as soon as
			<br>it hits your inbox.</h3>
	
	<div>
		<img src="../img/iphone-on-table-small.png"></div>
	<p>
		That's why we've reimagined your inbox and created Agenda View to let you know at a glance which emails are important and when you need to deal with them. With Timyo, you can communicate more meaningfully by sending and receiving emails with clear expectations that are already prioritized by time.
	</p>

	<p>
		Now you can focus on the email that matters, when it matters.
	</p>
	</div></div>
	<div id="content-th" class="container">
		<h4 class="text-center">Focus on what matters today</h4>
		<br><br>
	<div class="text-center"><a href="#" class="user-a">See how Timyo helps you <i class="glyphicon glyphicon-play-circle"></i></a></div>
	<div class="col-md-5 text-center"><img src="../img/focus-on-what-matters.jpg"></div>
	<div class="col-md-7">
		<ul class="grid list-unstyled">
			<li style="color:#007aff;margin: 2em 0;">
				<h5>Manage important email by time <i class="glyphicon glyphicon-play-circle"></i></h5>
				<p class="text-left" style="color: #686868;font-weight: 200;">
					No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.
				</p>
			</li>
			<li style="color:#ffcc01;margin: 2em 0;">
				<h5>Manage important email by time <i class="glyphicon glyphicon-play-circle"></i></h5>
				<p class="text-left" style="color: #686868;font-weight: 200;">
					No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.
				</p>
			</li>
			<li style="color:#4cd964;;margin: 2em 0;">
				<h5>Manage important email by time <i class="glyphicon glyphicon-play-circle"></i></h5>
				<p class="text-left" style="color: #686868;font-weight: 200;">
					No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.
				</p>
			</li>
			<li style="color:#ff3b30;;margin: 2em 0;">
				<h5>Manage important email by time <i class="glyphicon glyphicon-play-circle"></i></h5>
				<p class="text-left" style="color: #686868;font-weight: 200;">
					No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.
				</p>
			</li>
		</ul>
	</div>
	</div>
	<div class="clear"></div>
	<div id="content-fo" class="text-left">
		<div class="container content-fo">
			<div><img  class="content-fo-img" src="../img/email-on-computer2.png"></div>
			<h3>Give the gift of clear expectations</h3>
			<br><br>
			<p>When recipients open your email, they will see immediately a clear, simple, and polite message letting them know when you would like them to respond. By giving the gift of clear expectations, you give them other gifts as well: peace of mind, increased productivity, and, ultimately, time.</p>
			<br><br>
			<p>And it’s hard to think of a better gift than that.</p>
		</div>
	</div>
	<div class="clear"></div>
	<div id="content-fi" class="container text-center"">
		<h2>Timyo works on your desk as well</h2>
		<div class="col-md-4"><img src="../img/apple-mail-desktop-screen.png"></div>
		<div class="col-md-4"><a href="#"><img src="../img/gmail-desktop-screen.png"></a></div>
		<div class="col-md-4"><img src="../img/outlook-desktop-screen.png"></div>
		<a href="#"><img style="margin:20px 0" src="../img/chrome-store-btn3.png"></a>
	</div>
	<div class="clear"></div>
	<div id="content-six">
		<div class="container text-center">
			<h2>We are on a mission</h2>
			<div class="col-md-4">
				<img src="../img/clarity.png">
				<h3 class="text-center" style="color:#ffcc00;">Clarity</h3>
				<p class="text-left">Email remains the #1 tool today’s workforce uses to communicate. Unfortunately, it was not designed for the ‘always on’ expectations that have become the norm. Thanks to Timyo, users can now benefit from clear and proactive communication.</p>
			</div>
			<div class="col-md-4">
				<img src="../img/productivity.png">
				<h3 class="text-center" style="color:#007aff;">Productivity</h3>
				<p class="text-left">By helping you stay focused on important emails when they matter to you, Timyo helps you cut through the clutter. And when the people you work with use Timyo too, your email will come already prioritized by due date.</p>
			</div>
			<div class="col-md-4">
				<img src="../img/peace2.png">
				<h3 class="text-center" style="color:#4cd964;">Peace</h3>
				<p class="text-left">At Timyo, we believe it's time for email to make your life easier again. With email prioritized by time and features like Agenda View and Reply Tracker, Timyo takes the stress out of email and puts something much better in its place: peace.</p>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="container" id="content-sev">
			<h4 class="text-center">Focus on what matters today</h4>
		<br><br>
	<div class="col-md-5 text-center col-sm-5"><img src="../img/iphone-register.png"></div>
	<div class="col-md-7 col-sm-7">
		<ul class="grid list-unstyled text-left">
			<li style="margin: 2em 0;">
				<h5>Easy setup</h5>
				<p class="text-left" style="color: #686868;font-weight: 200;">
				Enter your email account and password and voila! You've got Timyo.
				</p>
			</li>
			<li style="margin: 2em 0;">
				<h5>Existing account</h5>
				<p class="text-left" style="color: #686868;font-weight: 200;">
				Timyo isn't another new email address to manage — it's a way to better manage your existing accounts.
				</p>
			</li>
			<li style="margin: 2em 0;">
				<h5>Free & Flexible</h5>
				<p class="text-left" style="color: #686868;font-weight: 200;">
				You can switch back and forth between Timyo and your providers' apps whenever you want to (but we don't think you'll want to).
				</p>
			</li>
			<li style="margin: 2em 0;">
				<h5>Private $ Secure</h5>
				<p class="text-left" style="color: #686868;font-weight: 200;">
				Timyo never stores, processes, or transmits your data through third-party servers. Passwords are never stored on our servers.
				</p>
			</li>
			<img src="../img/download-timyo.png" class="content-sev-img">
			
		</ul>
	</div>
	</div>
	<footer class="main-foot">
		<div class="container text-center"><br>
			<p style="color:#404040">Timyo is a patented solution: US 20150007048A1</p><br>
			<a href="#">Private Policy</a>
			|
			<a href="#">Security</a>
			|
			<a href="#">Press Inquiries</a>
			|
			<a href="#">AboutUs</a>
			<br>
			<p style="font-size: 12px;color:404040;">©2015 Timyo. All rights reserved.</p>
		</div>
	</footer>
</body>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
</html>